<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          xmlns:tools="http://schemas.android.com/tools"
          package="com.wizy.android.student">

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.INTERNET"/>

    <application
            android:name=".App"
            android:allowBackup="true"
            android:allowClearUserData="true"
            android:icon="@mipmap/ic_app"
            android:label="@string/app_name"
            android:roundIcon="@mipmap/ic_app"
            android:supportsRtl="true"
            android:theme="@style/AppTheme"
            tools:ignore="GoogleAppIndexingWarning">
        <activity
                android:name=".ui.start.signup.GenderSelectionActivity"
                android:label="@string/select_gender"
                android:configChanges="screenSize|keyboardHidden|orientation"
                android:screenOrientation="user"
                android:windowSoftInputMode="adjustNothing"
                android:parentActivityName=".ui.start.signup.NumberVerificationActivity"
        >
        </activity>
        <activity
                android:name=".ui.start.LoginActivity"
                android:configChanges="orientation|keyboard|screenSize"
                android:label="@string/login"
                android:parentActivityName=".ui.start.StartActivity"
                android:screenOrientation="user"
                android:windowSoftInputMode="adjustNothing">
        </activity>
        <activity
                android:name=".ui.start.signup.NumberVerificationActivity"
                android:configChanges="screenSize|keyboard|orientation"
                android:label="@string/number_verification"
                android:parentActivityName=".ui.start.signup.SignUpActivity"
                android:screenOrientation="user"
                android:windowSoftInputMode="adjustNothing">
        </activity>
        <activity
                android:name=".ui.start.signup.SignUpActivity"
                android:configChanges="keyboard|orientation|screenSize"
                android:label="@string/sign_up"
                android:parentActivityName=".ui.start.StartActivity"
                android:screenOrientation="user"
                android:windowSoftInputMode="adjustNothing"/>
        <activity
                android:name=".ui.start.StartActivity"
                android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
    </application>

</manifest>